@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: o;
}
body{
    font-family: "Merriweather", serif
}
/* banner section style starts here */
.banner-container{
    max-width: 1320px;
    margin: 0 auto;
    min-height: 600px;
    margin-top: 20px;
    background-color:rgba(0,0,0,0.5);
    background-image: url('/images/Banner\ Image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}
.banner-content{
    display: flex;
    flex-direction: column;  
    justify-content: center;
    height: 600px;
    align-items: center;
}
.banner-content p,h1{
    color: white;      
}
.banner-content p{
font-size: 32px;
font-weight: 400;
}
.banner-content h1{
    font-size: 72px;
    font-weight: 900;
}
/* 65% section style starts here */
.second-section-container{
    width: 802.9px;
    height: 806px;
    margin: 0 auto;
    margin-top: 90px;
   
}
.second-section-content h2{
    color: rgb(255,0,0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}
.second-section-content p{
    color: rgb(255,0,0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.second-section-content h3{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
.second-section-container{
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
}
.image-containe{
    width: 802.9px;
    height: 500px;
}
.image-containe img{
    width: 100%;
    height: 100%;
}
/* midnigth section styles start here */
.midnight-party-container{
    width: 1320px;
    height: 600px;
    margin: 0 auto;
    background-color:rgba(0,0,0,0.5);
    display: flex; 
    background: url('/images/Vectorrr.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    margin-top: 80px;
    margin-bottom: 100px;
}
   
.leftside-content{
    width: 50%;
    width: 642px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.leftside-content h2{
    color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 64px;
font-weight: 900;
}
.leftside-content p{
    color: rgba(255, 255, 255, 0.8);
font-family: Inter;
font-size: 18px;
font-weight: 400;
margin-left: 40px;
}
#midnight-button{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin-right: 380px;
}
.rightside-content{ 
    width: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.rightside-content img{
    width: 349.16px;
    height: 464.65px;
}
/* holiday styles */
.holiday-section-container{
    width: 1320px;
    height: 986.07px;
    margin: 0 auto;
    position: relative;
}
.holiday-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1068px;
    height: 260px;
    margin: 0 auto;
}

.holiday-text-container h5{
    color: rgb(7, 2, 17);
font-family: Inter;
font-size: 24px;
font-weight: 500;
}
#holiday{
 color:rgb(255, 0, 0)  ;
}
.holiday-text-container p{_
    color:rgba(7, 2, 17, 0.6);
    font-family:Inter;
    font-size: 20px;
    font-weight: 500;
}
.solid-color{
    width: 1320px;
    height: 229px;
    background-color: red;
    position: absolute;
    top: 77%;
}
.giftbox{
    width: 674.82px;
    height: 577.96px;
    position: relative;
    z-index: 1;

}
.discount{
    position: absolute;
    bottom: 30%;
    left: 140%;
    z-index:1;

}
/* portfolio styles */
.portfolio-conatainer{
    width: 1320px;
    height: 1163px;
    margin: 0 auto;
    margin-top: 120px;
}
.portfolio-text-content p{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 24px;
font-weight: 500;
margin-bottom: 4px;
}
.portfolio-text-content h2{
    color: rgb(7, 2, 17);
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
margin-bottom: 4px;
}
.portfolio-text-content h3{
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 400;
margin-bottom: 40px
}
.item{
    width: 424px;
    height: 450px;
    
}
.portfolio-items{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap:10px;
}

.item img{
    width: 100%;
    height: 100%;
}

